<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>~:a0~</key>
	<string>mms_face_01</string>
	<key>~:a1~</key>
	<string>mms_face_02</string>
	<key>~:a2~</key>
	<string>mms_face_03</string>
	<key>~:a3~</key>
	<string>mms_face_04</string>
	<key>~:a4~</key>
	<string>mms_face_05</string>
	<key>~:a5~</key>
	<string>mms_face_06</string>
	<key>~:a6~</key>
	<string>mms_face_07</string>
	<key>~:a7~</key>
	<string>mms_face_08</string>
	<key>~:a8~</key>
	<string>mms_face_09</string>
	<key>~:a9~</key>
	<string>mms_face_10</string>
	<key>~:b0~</key>
	<string>mms_face_11</string>
	<key>~:b1~</key>
	<string>mms_face_12</string>
	<key>~:b2~</key>
	<string>mms_face_13</string>
	<key>~:b3~</key>
	<string>mms_face_14</string>
	<key>~:b4~</key>
	<string>mms_face_15</string>
	<key>~:b5~</key>
	<string>mms_face_16</string>
	<key>~:b6~</key>
	<string>mms_face_17</string>
	<key>~:b7~</key>
	<string>mms_face_18</string>
	<key>~:b8~</key>
	<string>mms_face_19</string>
	<key>~:b9~</key>
	<string>mms_face_20</string>
	<key>~:c0~</key>
	<string>mms_face_21</string>
	<key>~:c1~</key>
	<string>mms_face_22</string>
	<key>~:c2~</key>
	<string>mms_face_23</string>
	<key>~:c3~</key>
	<string>mms_face_24</string>
	<key>~:c4~</key>
	<string>mms_face_25</string>
	<key>~:c5~</key>
	<string>mms_face_26</string>
	<key>~:c6~</key>
	<string>mms_face_27</string>
	<key>~:c7~</key>
	<string>mms_face_28</string>
	<key>~:c8~</key>
	<string>mms_face_29</string>
	<key>~:c9~</key>
	<string>mms_face_30</string>
	<key>~:d0~</key>
	<string>mms_face_31</string>
	<key>~:d1~</key>
	<string>mms_face_32</string>
	<key>~:d2~</key>
	<string>mms_face_33</string>
	<key>~:d3~</key>
	<string>mms_face_34</string>
	<key>~:d4~</key>
	<string>mms_face_35</string>
	<key>~:d5~</key>
	<string>mms_face_36</string>
	<key>~:d6~</key>
	<string>mms_face_37</string>
	<key>~:d7~</key>
	<string>mms_face_38</string>
	<key>~:d8~</key>
	<string>mms_face_39</string>
	<key>~:d9~</key>
	<string>mms_face_40</string>
	<key>~:e0~</key>
	<string>mms_face_41</string>
	<key>~:e1~</key>
	<string>mms_face_42</string>
	<key>~:e2~</key>
	<string>mms_face_43</string>
	<key>~:e3~</key>
	<string>mms_face_44</string>
	<key>~:e4~</key>
	<string>mms_face_45</string>
	<key>~:e5~</key>
	<string>mms_face_46</string>
	<key>~:e6~</key>
	<string>mms_face_47</string>
	<key>~:e7~</key>
	<string>mms_face_48</string>
	<key>~:e8~</key>
	<string>mms_face_49</string>
	<key>~:e9~</key>
	<string>mms_face_50</string>
	<key>~:f0~</key>
	<string>mms_face_51</string>
	<key>~:f1~</key>
	<string>mms_face_52</string>
	<key>~:f2~</key>
	<string>mms_face_53</string>
	<key>~:f3~</key>
	<string>mms_face_54</string>
	<key>~:f4~</key>
	<string>mms_face_55</string>
	<key>~:f5~</key>
	<string>mms_face_56</string>
	<key>~:f6~</key>
	<string>mms_face_57</string>
	<key>~:f7~</key>
	<string>mms_face_58</string>
	<key>~:f8~</key>
	<string>mms_face_59</string>
	<key>~:f9~</key>
	<string>mms_face_60</string>
	<key>~:g0~</key>
	<string>mms_face_61</string>
	<key>~:g1~</key>
	<string>mms_face_62</string>
	<key>~:g2~</key>
	<string>mms_face_63</string>
	<key>~:g3~</key>
	<string>mms_face_64</string>
	<key>~:g4~</key>
	<string>mms_face_65</string>
	<key>~:g5~</key>
	<string>mms_face_66</string>
	<key>~:g6~</key>
	<string>mms_face_67</string>
	<key>~:g7~</key>
	<string>mms_face_68</string>
	<key>~:g8~</key>
	<string>mms_face_69</string>
	<key>~:g9~</key>
	<string>mms_face_70</string>
	<key>~:h0~</key>
	<string>mms_face_71</string>
	<key>~:h1~</key>
	<string>mms_face_72</string>
	<key>~:h2~</key>
	<string>mms_face_73</string>
	<key>~:h3~</key>
	<string>mms_face_74</string>
</dict>
</plist>
